@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px inherit inset !important; /* Neutralize background color */
  -webkit-text-fill-color: inherit !important; /* Inherit text color */
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Transition for background and text color */
}



body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.ul-borders{
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1)
}

@keyframes color-flow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .animate-color-flow {
    background-size: 200% 100%;
    animation: color-flow 2s linear infinite;
  }
